/* font code */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Instrument+Serif:ital@0;1&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

/* colors */
:root {
  --bg-color: #EBE4D5;
  --night-color: #141415;
  --violet-color: #8A6A87;
  --blue-color: #55828B;
  --goldenrod-color: #B27D2E;
}


.container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header" 
    "navvy";
}

header {
    text-align: center;
}

nav {
    grid-area: "navvy";
    text-align: center;
}

/* high level styling */
body {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;

    background-color: var(--bg-color);

    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--night-color);
}

h1 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; 
    gap: 8px; 
    padding: 0; 
    margin: 0;  
    padding-bottom: 1em;
}

nav ul li {
    list-style: none;
    margin: 0;
}

nav a {
    display: inline-block;
    padding: 6px 10px; 
    text-decoration: none;
    color: inherit;
}

.left {
    background-color: white;
    width: auto;
    height: 300px;
    grid-area: lefty;
}

.center {
    background-color: black;
    width: auto;
    height: 300px;
    grid-area: centy;
}

.right {
    background-color: white;
    width: auto;
    height: 300px;
    grid-area: righty;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "lefty centy righty"; 
}